/* Heads up, I'm using REM over PX for unit length, if you'd like to know what REM to PX is, check this tool out: https://nekocalc.com/rem-to-px-converter */
/* You will also see that I'm adding CSS styling we have not discussed in class yet. While I believe in going at a pace to learn things... I thought this can be an exception so long as I'm not going too far. I'll list documentation so you can check these CSS properties out!

CSS property: padding - https://developer.mozilla.org/en-US/docs/Web/CSS/padding
CSS property: margin - https://developer.mozilla.org/en-US/docs/Web/CSS/margin
CSS property value: Units - https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
CSS selector: asterisk(*) aka universal selector - https://developer.mozilla.org/en-US/docs/Web/CSS/Universal_selectors
CSS property value: hex color value - https://developer.mozilla.org/en-US/docs/Web/CSS/hex-color
CSS property: border-radius - https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius
CSS property: text-decoration - https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
*/
* {
    /* Resetting ALL default spacing created by HTML elements to zero(none)*/
    padding: 0;
    margin: 0;
}
html {
    background-color: #f15025;
}

body {
    margin-inline: auto;
    padding: 2rem 6rem;
    background-color: #fff;
    color: #191919;
    min-height: 100vh;
    width: 32rem;
}
h1 {
    margin-bottom: 2rem;
}
h2, h3 {
    color: #00a5e0;
    margin: 1.5rem 0 .25rem 0;
}
section > p {
    margin-left: 1.2rem;
    padding-block: .18rem;
}
nav {
    margin-bottom: 1rem;
}
nav li {
    display: inline-block;
    /* Sometimes inline-block will create phantom space, in order to combat that, we need to add negative margin */
    margin: -0rem;
    margin-right: 0.86rem;
}
nav li > a {
    text-decoration: none;
    background-color: #f15025;
    padding-inline: .5rem;
    padding-block: .2rem;
    
    border-radius: .5rem;
}
nav li > a:hover {
    background-color: #fc8f71;
    color: #000;
}
nav li > a,
nav li > a:visited {
    color: #fff;
}
nav li:first-child > a {
    background-color: initial;
}
nav li > a:hover {
    text-decoration: underline;
}
section > ul,
section > ol {
    margin-left: 2.5rem;
}
section > ul > li {
    margin-block: .36rem;
}
a {
    color: #35a7ff;
}
a:visited {
    color: #f15025;
}
a:hover {
    color: #fc8f71;
}
figure {
    margin-left: 2rem;
    margin-bottom: .94rem;
}
p > small {
    font-size: .66rem;
}
dl + p {
    margin-top: .38rem;
    margin-left: .6rem;
}